.nft_sale_btn {
    &.btn {
      cursor: pointer;
    }
  }
  .post_engagement_border {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
  .pl-72px {
    padding-left: 72px;
  }
  .post-thread-engagement-detail {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 500;
    line-height: 27.6px;
  }
  .mw-250 {
    max-width: 250px;
  }
  .nft_current_bid_both {
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 0;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      padding-right: 20px;
      padding-left: 0;
      padding-top: 15px;
    }
    .val {
      font-size: clamp(28px, 6vw, 42px);
      font-weight: 600;
      @media screen and (max-width: 767px) {
        font-size: 24px;
      }
    }
    .color-EE {
      color: #eeeeee;
    }
    .val_st {
      font-size: clamp(17px, 5vw, 22px);
      color: var(--textalt);
      @media screen and (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  
  .buy_now_text_container {
    text-align: center;
  }
  
  .buy_now_btn {
    background: black;
    color: white;
    flex: 1;
  }
  .place_bid_btn_both {
    background: white;
    color: black;
    flex: 1;
    margin-left: 10px;
  }
  
  .buy_now_img {
    height: 18px;
  }
  
  .put-nft-for-sale-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .nft_current_bid {
    @media screen and (max-width: 992px) {
      padding-top: 15px;
    }
  }
  .eth-provenance-row-text-mobile {
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 35px;
    color: #000000;
  }
  