.page_main_wrapper {
    padding-top: 80px;
}
.m_inner_wrapper {
    width: 1205px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}
.noCap {
    width: 100% !important;
}
.end {
    justify-content: flex-start;
    align-items: center;
}