.buy-now-header-container {
    text-align: center;
    margin: 0 auto;
  }
  
  .buy-now-lightning-black-img {
    height: 26px;
    width: 15px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
  }
  
  .buy-now-modal-header {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    display: inline-block;
  }
  