@import "../../themes.scss";
.single_card {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    position: relative;
    transition: transform 0.2s ease;
    width: 300px;
    max-width: 100%;
    border-radius: 30px;
    .card_body {
      padding: 0px;
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
      border-radius: 30px;
      z-index: 1;
      .img_cover {
        width: 100%;
        max-width: 100%;
        height: 0px;
        padding-bottom: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--secondary);
        border-top-left-radius: 30px !important;
        border-top-right-radius: 30px !important;
        position: relative;
        overflow: hidden;
        .card_img {
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          display: block;
          object-fit: cover;
        }
        .video_tag {
          display: block;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          top: 0;
          left: 0;
          right: 0;
        }
        .video_tag_arweave {
          display: block;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .video-iframe {
          height: auto;
          width: auto;
          min-width: 100%;
          min-height: 100%;
        }
        &.change_height_img_cover {
          @media screen and (max-width: 400px) {
            height: auto !important;
            .card_img {
              width: 100%;
              height: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
            }
          }
        }
      }
      .caption_cover {
        padding: 0px 12px;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 80px;
        padding-left: 25px;
        padding-right: 25px;
        background-color: #ffffff;
        z-index: 1;
        &.auto-h {
          height: auto;
        }
        p {
          height: 50%;
          font-size: 13px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          vertical-align: middle;
          max-width: 175px !important;
        }
      }
      .bid_cover {
        display: flex;
        flex-direction: column;
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 0px 0px 30px 30px;
        justify-content: center;
        z-index: 1;
        .bid_row {
          display: flex;
          flex-direction: row;
          align-items: center;
          .bid_inner_row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .bid_col {
              flex: none;
              padding-right: 10px;
            }
            .bid_buy_now {
              flex: none;
            }
          }
          p {
            font-size: 11px;
            margin: 0 0 5px 0;
            //color: #ffff;
          }
          .bid_col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;
            p {
              //color: var(--background);
              font-size: 16px;
              &:first-child {
                margin-bottom: 5px;
                margin-right: 5px;
              }
            }
            .p_lighter {
              font-size: 13px;
            }
          }
          .bid_buy_now {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1 1 auto;
            margin-bottom: 5px;
            p {
              //color: var(--background);
              font-size: 16px;
              &:first-child {
                margin-bottom: 5px;
                margin-right: 5px;
              }
            }
            .p_lighter {
              font-size: 13px;
            }
          }
        }
        .btn-place-a-bid {
          background: #ffffff;
          color: var(--button);
          font-size: 12px;
          font-weight: bold;
        }
      }
    }
  }
  .marketplaceCard {
    flex: 1 1 auto;
    width: unset;
    max-width: unset;
  }
  .card_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: transparent;
    padding: 0;
    .profile_img {
      width: 25px;
      height: 25px;
      margin-right: 10px;
      a {
        width: 25px;
        height: 25px;
        display: block;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
      }
    }
    h6 {
      display: block;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      max-width: 110px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .value-buy-cover {
      display: inline-block;
      padding: 1px 1px 1px 6px;
      border-radius: 15px;
      background: var(--secalt);
      margin-left: 8px;
      font-size: 10px;
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .buy_bg {
          background-color: #ffffff;
          padding: 2px 8px;
          border-radius: 0 12px 12px 0;
          font-size: 11px;
          margin-left: 5px;
        }
      }
    }
  }
  .single_card.feed-post__quoted-content {
    box-shadow: none !important;
    border-radius: 12px !important;
  }

  .single_card.card_diff_width {
    width: 100% !important;
    max-width: 300px !important;
  }
  .br-mr {
    border-radius: 12px;
  }
  .br-30px {
    border-radius: 30px;
  }
  .overflow_ellipsis_price {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .overflow_ellipsis_price_50_percent {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .card_video_icon_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    transition: opacity 0.2s linear;
    z-index: 10;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
  }
  // Can't tell what this is doing/if it's necessary
  .card_audio_icon_container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    transition: all 0.2s linear;
    z-index: 10;
  }
  .nft_card_buy_now_button {
    width: 120px;
    height: 44px;
    max-width: 100%;
    background: #ffffff;
    border: 4px solid #ffffff;
    color: #000000;
    border-radius: 30px;
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.15);
    font-size: 13px;
    font-weight: bold;
    img {
      margin-bottom: 3px;
      margin-right: 3px;
    }
    @media screen and (max-width: 400px) {
      width: 90px;
      font-size: 10px;
    }
  }
  .text_nft_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $secondary;
    div {
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-wrap: anywhere;
      word-break: break-word;
    }
  }
  .video_nft_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
  }
  
  // This is the audio play button that appears on hover in the large marketplace view
  .audio_icon_hover_state {
    width: 216px;
    height: 49px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    border-radius: 30px;
    p {
      color: #ffffff;
    }
  }
  .top-br-30px {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
  }
  .nft-post-top {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: none !important;
    @media screen and (max-width: 767px) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .card_video_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }
  .card_audio_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }
  .opacity_0 {
    opacity: 0;
  }
  .ml-5px {
    margin-left: 5px;
  }
  .max-width-300 {
    max-width: 300px;
  }
  .colors_not_sold {
    background-color: #171717;
    .p_lighter {
      color: #bfbfbf !important;
    }
    p {
      color: #ffffff !important;
    }
  }
  .br-0px {
    border-radius: 0px !important;
  }
  .card_footer {
    //transition-delay: 0.3s;
    position: absolute;
    bottom: 0;
    transition-duration: 0.2s;
    padding: 5px 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
  .audio-icon-hover-state {
    width: 216px;
    height: 49px;
    background: #000000;
    border-radius: 30px;
    p {
      color: #ffffff;
    }
  }
  .top-br-30px {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
  }
  .card_video_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }
  .card_audio_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
  }
  .opacity_0 {
    opacity: 0;
  }
  .ml-5px {
    margin-left: 5px;
  }
  .max-width-300 {
    max-width: 300px;
  }
  .colors_not_sold {
    background-color: #171717;
    .p_lighter {
      color: #bfbfbf !important;
    }
    p {
      color: #ffffff !important;
    }
  }
  .br-0px {
    border-radius: 0px !important;
  }
  .card_footer {
    //transition-delay: 0.3s;
    position: absolute;
    bottom: 0;
    transition-duration: 0.2s;
    padding: 5px 12px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    background-color: #ffffff;
    border: none;
    //box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    border: 1.5px solid #dddddd;
    z-index: -1;
  }
  .footer_icons_container {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    bottom: 0;
  }
  .hover_icons {
    &:hover {
      transform: translateY(-2px);
      z-index: 10;
      .card_footer {
        transition-duration: 0.2s;
        transform: translateY(60%);
        z-index: -1;
      }
      .footer_icons_container {
        transition: all 0.2s;
        pointer-events: all;
        animation: illusionOfUnderElement 0.2s forwards;
        z-index: 10;
        left: 10%;
        //bottom: -32.5px;
      }
    }
  }
  @keyframes illusionOfUnderElement {
    0% {
      opacity: 0;
      bottom: 0;
    }
    50% {
      opacity: 0;
      bottom: -20px;
    }
    100% {
      opacity: 1;
      bottom: -32.5px;
    }
  }
  .mobile_icons_visible {
    transform: translateY(-2px);
    &:hover {
      z-index: 10;
    }
    .card_footer {
      transition-duration: 0.2s;
      transform: translateY(60%);
      border: 1.5px solid #dddddd;
      z-index: -1;
    }
    .footer_icons_container {
      transition: all 0.2s;
      pointer-events: all;
      z-index: 10;
      opacity: 1;
      left: 10%;
      bottom: -32.5px;
    }
  }
  .ml-50px {
    margin-left: 50px;
  }
  .colors_sold {
    border-top: 1px solid #e4e4e4;
    background: #ffffff;
    .p_lighter {
      color: #6a6a6a !important;
    }
    p {
      color: var(--button) !important;
    }
  }
  .creator_text_nft_card {
    font-size: 9px !important;
    color: var(--textalt);
    font-weight: bold;
  }
  .username_nft_card {
    font-size: 13px !important;
    color: #525252;
    transition: all 0.2s ease;
    font-weight: 600;
    &:hover {
      transition: all 0.2s ease;
      color: #000000;
    }
  }
  .fs_20px_im {
    font-size: 20px !important;
    font-weight: 600;
    padding-top: 5px;
  }
  .accept_transfer {
    color: #ffffff;
    border: 4px solid #ffffff;
    font-size: 13px;
    font-weight: bold;
    background: #000000;
    width: 60%;
    border-radius: 10px;
    &:hover {
      transform: scale(1.025);
      transition-duration: 0.3s;
    }
  }
  .is_ethereum_nft {
    height: 80px;
    text-align: center;
  }
  .is_ethereum_nft_not_for_sale {
    height: 80px;
  }
  .eth_nft_not_for_sale_container {
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .eth_nft_not_for_sale_text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6a6a6a;
  }
  .eth_price_text_align_left {
    text-align: left;
  }
  .eth_nft_not_for_sale_owner_container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .eth_nft_not_for_sale_owner_text {
    font-size: 13px !important;
    color: #525252;
    font-weight: 700 !important;
  }
  