@import "../themes.scss";
.nfts_card_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    margin: 20px -10px 0px;
    padding: 0px 10px !important;
    list-style-type: none;
    &.nft_creator_list {
      @media screen and (max-width: 676px) {
        padding-top: 0;
      }
    }
  .nft_col_wrap {
    padding: 10px;
    flex: 1 1 auto;
    min-width: 300px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 676px) {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  .small_nft_col_wrap {
    width: calc(100% / 40);
    min-width: 195px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.market_card_container {
    flex: 1 1 auto;
}
.smallCards {
  grid-template-columns: repeat(auto-fill, minmax(195px, 1fr)) !important;
  place-items: center;
}
.marketplace_loading_indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    margin-bottom: 50px;
    border-radius: 12px;
}