@import "../themes.scss";
.max_width_400px {
    max-width: 400px;
}
.left_bar_mobile__flyout_div_marketplace {
    background-color: #f9f9f9;
    padding-top: 5px;
    z-index: 100; // Needs to be higher than the bottom bar and staked posts.
    position: fixed;
    bottom: 0;
    left: 0;
    //max-height: calc(100vh - 100px);
    width: 100%;
    height: 100vh;
    transform-origin: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    pointer-events: all;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}