.small_card_wrapper {
    position: relative;
    height: 210px;
    border-radius: 20px;
    width: 181.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    &:hover {
        transform: translateY(-2px);
    }

    .audio-play-icon {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .red-box-img-cover {
        width: 100%;  
        height: calc(100% - 60px);
        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        overflow: hidden;
        .card-image {
            position: relative;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;

            // .audio-play-icon {
            //     position: absolute;
                
            //     top: 50%;
            //     left: 50%;
            //     transform
            // }
        }
        .video-tag {
            display: block;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
        .video-iframe {
            height: auto;
            width: auto;
            min-width: 100%;
            min-height: 100%;
        }
        &.change-height-img-cover {
            @media screen and (max-width: 400px) {
                height: auto !important;
                .card-img {
                    width: 100%;
                    height: auto;
                    min-width: none !important;
                    min-height: none !important; 
                }
            }
        }
    }
    .small_card_details {
        height: 60px;
        width: 100%;
        background: #171717;
        //border: 0.45046088099479675px solid #171717;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        p {
            width: calc(100% - 20px);
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
        span {
            font-size: 12px;
        }
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            vertical-align: middle;
        }
    }
    .small_card_details.background-white {
        background-color: #FFFFFF;
    }
}
.colors-for-sale {
    background-color: #171717 !important;
    p {
        color: #FFFFFF!important;
    }
    span {
        color: #BFBFBF!important;
    }
    .small_card_bid_size {
        color: #EEEEEE !important;
        padding-left: 5px;
    }
}
.selected-border {
    outline: 3px solid #3549FA !important;
}

.colors-sold {
    border: 1px solid #FFFFFF;
    background: #FFFFFF !important;
    p {
        color: #181818 !important;
    }
    span {
        color: #737373 !important;
    }
}
.text-nft-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    div {
        overflow-y: scroll;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-wrap: anywhere;
        word-break: break-word;
    }
}
.card-video-icon-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    transition: opacity 0.2s linear;
}
.card-video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
}