.mobile-navigation-container {
    padding-top: 120px;
    padding-bottom: 100px;
    width: calc(100% - 40px);
    height: 95vh;
    background-color: #F6F6F6;
    overflow: hidden;
}
.mobile-nav-balance-info {
    height: 100px;
}
hr {
    color: #C7C7C7;
    height: 1.5px;
}
.mobile-nav-grid {
    height: auto;
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @media screen and (max-width: 340px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    span {
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            padding: 27px 27px;
            width: 90px;
            height: 90px;
            background: #ffffff;
            border-radius: 24px;
            background-color: #FFFFFF;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                border: 3px solid rgba(0, 0, 0, 0.6);
                transition-duration: all 0.2s;
            }
        }
        label {
            margin-bottom: 0;
            margin-top: 5px;
            font-size: 17px;
            color: #636363;
        }
    }
}
.mobile-nav-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    button {
        width: 45%;
        height: 45px;
        background: #ebebeb;
        border: none;
        border-radius: 13px;
        color: #505050;
        font-size: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 5px;
        }
    }
}
.lb-button-label-new {
    width: 35px;
    height: 15px;
    background: #ff4848;
    border: 1px solid #ffffff;
    border-radius: 34px;
    position: absolute;
    font-size: 10px !important;
    font-weight: 600;
    color: #FFFFFF !important;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -7.5px;
    right: -3px;
    margin-bottom: 5px;
}