.category_slide1 {
  height: 197px;
  overflow: visible !important;
  width: 283px !important;
  min-width: 283px;
  position: relative;
}
.discovery_arrow_box {
    position: absolute;
    left: auto;
    right: 5px;
    left: auto;
    top: 50%;
    height: 50px;
    width: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: #F8F8F8;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 1.510444688796997px 1.510444688796997px 1.510444688796997px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    &:active {
        transition: all 0.2s linear;
        transform: scale(.95);
    }
}
.discovery_arrow {
    width: 40px;
    height: 40px;
    fill: #717171;
}
@media screen and (max-width: 992px) {
    .discovery_arrow_box {
        display: none;
    }
}