h2 {
    scroll-margin: 100px;
}
.discovery-nft-showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.discovery-issues {
    min-height: 100px;
    background-color: #0000000d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    label {
        color: rgb(118, 118, 118);
        font-weight: 600;
    }
}
.discovery-main-card-container {
    //height: 500px;
    background-color: var(--secondary);
}
.carousel-arrow .carousel-arrow-next {
    right: 0px !important;
}
.h-520 {
    height: 520px;
}

.discovery-category-box {
    width: 263px;
    height: 176px;
    z-index: -1;
}
.zindex {
    z-index: 1;
}
.discovery-spacer {
    height: 150px;
}
.mt-100px {
    margin-top: 100px;
}
.mt-35px {
    margin-top: 35px;
}
.discovery-spacer-2 {
    height: 50px;
}
.discovery-creator-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.discovery-selector {
    height: 75px;
    overflow-x: scroll;
    background-color: transparent;
    div {
        z-index: 2;
        height: 49px;
        min-width: 1000px;
        background: #ffffff;
        border-radius: 30px;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
        button {
            height: 90%;
            border: none;
            background-color: transparent;
            border-radius: 30px;
            padding-left: 10px;
            padding-right: 10px;
            transition: all 0.1s linear;
            color: var(--text);
            &:hover {
                transition: all 0.1s linear;
                background-color: #E8E8E8;
            }
        }
    }
}
[class^="number-slide"],
[class*=" number-slide"] {
  height: 520px;
  overflow: visible !important;
  width: 310px !important;
  min-width: 310px;
}
[class^="creator-slide"],
[class*=" creator-slide"] {
  height: 420px;
  overflow: visible !important;
  width: 290px !important;
  min-width: 290px;
}
[class^="format-slide"],
[class*=" format-slide"] {
  height: 330px;
  overflow: visible !important;
  width: 290px !important;
  min-width: 290px;
}
.mb--10px {
    margin-bottom: -10px;
}