@import "./themes.scss";
.header {
    padding: 15px 15px;
    background-color: #FEFEFE;
    border-bottom: 2px solid #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    @media screen and (max-width: 767px) {
      padding: 15px;
    }
    .header_golal_wrapper {
      align-items: center;
      justify-content: space-between;
      display: flex;
      width: 100%;
      margin: 0 auto;
    }
    .logo_cover {
      width: 175px;
      @media screen and (max-width: 1024px) {
        width: 150px;
      }
      @media screen and (max-width: 992px) {
        width: 130px;
      }
      img {
        width: 100%;
      }
    }
    .search_bar_cover {
      //width: 712px;
      position: relative;
      width: 62% !important;
      max-width: 420px;
      left: 100px;
      @media screen and (max-width: 1024px) {
        width: calc(100% - 325px);
      }
      @media screen and (max-width: 992px) {
        width: calc(100% - 275px);
      }
      @media (max-width: 991px) {
        display: none;
        &.active-mobile {
          display: block;
          position: absolute;
          top: 60px;
          width: calc(100% - 20px);
          padding-left: 0px;
          left: 10px;
          right: 0;
          box-shadow: 0 11px 10px 3px rgb(0 0 0 / 20%);
          border-radius: 52px;
          .search-bar__results-dropdown {
            top: 36px !important;
          }
          .form-control {
            height: calc(1.5em + 0.75rem + 16px) !important;
          }
        }
      }
    }
    .right_portion {
      //margin: 0 -40px 0 -39px;
      //width: 246px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media screen and (max-width: 767px) {
        margin: 0;
        width: auto;
      }
      .right_side_options {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0px;
        padding-left: 0px;
        .single_option {
          &:not(:first-child) {
            // padding-left: 25px;
            margin-left: 25px;
            @media screen and (max-width: 1024px) {
              padding-left: 10px;
            }
          }
          &:not(:last-child) {
            //padding-right: 15px;
            @media screen and (max-width: 1024px) {
              padding-left: 10px;
            }
          }
          img {
            cursor: pointer;
          }
          span {
            display: none;
          }
          .icon_close {
            font-size: 30px;
            line-height: 30px;
            color: black;
            font-weight: bold;
          }
          .profile-img {
            width: 28px;
            height: 28px;
            cursor: pointer;
            overflow: hidden;
            border-radius: 50%;
            border: 3px solid #ffffff;
            box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
            background-size: cover;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        &.menu_options_list {
          @media (max-width: 991px) {
            display: none;
          }
        }
        &.for_mobile {
          display: none;
          @media (max-width: 991px) {
            display: flex;
          }
        }
      }
      .btn-create {
        color: $background;
        background-image: url("../public/img/btnbg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 30px;
        font-size: 12px;
        width: 80px;
        height: 39px;
        font-weight: 600;
        border: 0;
        box-shadow: 0px 4px 5px 3px rgb(0 0 0 / 10%);
      }
    }
  }
  
  .header_search_right_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .h-35px {
    height: 35px;
  }
  
  .w-60 {
    width: 62% !important;
    max-width: 620px;
  }
  .header-spacer {
    height: 84px;
    @media screen and (max-width: 992px) {
      height: 63px;
    }
  }
  .header_logo {
    color: #161616;
    font-size: 24px;
    font-weight: medium;
    text-align: center;
    text-align: start;
  }
  .header_create_button_gradient {
    min-width: 105px;
    background-image: url("../public/img/create_button.png");
    background-size: 100% 100%;
    border: none;
    transition-property: -moz-filter, -ms-filter, -o-filter, filter;
    transition-duration: 0.3s;
    border-radius: 140px;
    padding: 5px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    p {
      font-weight: 600;
      background-color: #ffffff;
      color: #000;
      min-height: 42px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 140px;
      box-shadow: 0 -2px 6px rgb(0 0 0 / 20%) inset;
    }
    &:active {
      transform: scale(0.96);
    }
    &:hover {
      transition-duration: 0.2;
      //filter: brightness(110%);
    }
  }
  
  .grow {
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  
  .grow:hover {
    transform: scale(1.05);
  }
  
  .grow:active {
    transform: scale(1.01);
  }
  
  // .grow:hover {
  //     transform: scale(1.05) translate3d( 0, 0, 0) perspective(1px)
  // }
  .notification_amount {
    position: absolute;
    top: 0px;
    right: -5px;
    width: auto;
    font-size: 12px;
    color: #ffffff;
    background: #f5685f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    min-width: 14px;
    height: 14px;
    background: #f5685f;
    border: 1.8375171422958374px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0.7916666865348816px 0.7916666865348816px 1.5833333730697632px rgba(0, 0, 0, 0.1),0.7916666865348816px 0.7916666865348816px 1.5833333730697632px rgba(0, 0, 0, 0.1),0.7916666865348816px 0.7916666865348816px 1.5833333730697632px rgba(0, 0, 0, 0.1),0.7916666865348816px 0.7916666865348816px 1.5833333730697632px rgba(0, 0, 0, 0.1),0.7916666865348816px 0.7916666865348816px 1.5833333730697632px rgba(0, 0, 0, 0.1);
  }
  
  .create-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notification_icon_cover {
    position: relative;
    .triangle-up {
      display: inline-block;
      transform: scaleX(1.2);
      color: $background;
      text-shadow: 0px -3px 3px rgba(0, 0, 0, 0.1);
      font-size: 20px;
      position: absolute;
      top: -21px;
      right: 115px;
    }
    .notification_list_cover {
      position: absolute;
      top: 50px;
      width: 416px;
      right: -180px;
      border-radius: 8px;
      background: $background;
      border: 0.952182px solid #fcfcfc;
      box-shadow: 1px 1.52px 7.62px rgba(0, 0, 0, 0.11);
      border-radius: 14.2827px;
      z-index: 80;
      .notification-list {
        padding: 10px 0px 0px;
        position: relative;
        overflow: auto;
        max-height: calc(100vh - 140px);
        overflow-x: hidden;
        min-height: 200px;
        .single-notification {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid $border;
          padding: 8px 10px;
          cursor: pointer;
          .left-portion {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 65px;
            .icon-cover {
              margin-left: -10px;
              text-align: center;
              width: 35px;
              i {
                font-size: 25px;
                width: 100%;
                &.icon-heart-fill {
                  color: $cred;
                }
                &.icon-wallet {
                  font-size: 20px;
                }
              }
            }
            .profile-picture {
              width: 30px;
              height: 30px;
              border-radius: 5px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .right_portion {
            width: calc(100% - 65px);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            h6,
            p,
            span {
              font-size: 13px;
            }
            * {
              display: inline-block;
              margin-right: 10px;
            }
          }
          &.for-replying {
            align-items: flex-start;
            .left-portion {
              width: 60px;
              .profile-picture {
                width: 50px;
                height: 50px;
              }
            }
            .right_portion {
              width: calc(100% - 60px);
              display: block;
              * {
                display: inherit;
                margin-right: inherit;
              }
              h5 {
                display: flex;
                align-items: center;
                font-size: 14px;
                i {
                  margin-left: 10px;
                }
              }
              .replying-to-text {
                display: flex;
                align-items: center;
                a {
                  display: inline-block;
                }
              }
              .counters-list {
                padding: 10px 20px 10px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .icon-cover {
                  display: flex;
                  align-items: center;
                  i {
                    font-size: 20px;
                  }
                  span {
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }
      }
      .view_all_text {
        padding: 15px 10px;
        display: block;
        width: 100%;
        border-top: 1px solid $border;
        text-align: center;
        display: inline-block;
        color: $link !important;
        font-weight: 600;
        font-size: 15.4488px;
        margin-top: -1px;
      }
    }
    .noti_hv {
      cursor: pointer;
      text-align: center;
      &:hover {
        transform-origin: center;
        transform: scale(1.03);
        transition-duration: 0.2s;
      }
      &:active {
        transform: scale(0.9);
        transition: 0.2s;
      }
    }
  }
  .hd-profile-nv {
    &:hover {
      transform-origin: center;
      transform: scale(1.05);
      transition-duration: 0.2s;
    }
    &:active {
      transform: scale(0.9);
      transition: 0.2s;
    }
  }
  
  .header_notification_list_inner {
    max-height: calc(100vh - 150px);
    overflow: auto;
    overflow-x: hidden;
  }
  // CSS FIX
  :host ::ng-deep {
    .search_bar_cover {
      .global__top-bar__height {
        height: auto;
        position: relative;
      }
      .search-bar__results-dropdown {
        position: absolute;
        top: 37px;
        width: calc(100% - 20px) !important;
        left: 10px;
        min-width: auto;
        z-index: 999;
      }
    }
    .header_notification_list_inner {
      .creator-coin-info {
        margin-left: 1rem !important;
      }
      .feed-max-width-name {
        max-width: 100px;
      }
    }
    .header_notification_list_inner {
      .notificationbar_mwrapper {
        width: 100%;
        margin: 0;
        box-shadow: none;
        border: 0;
        border-radius: 0;
      }
    }
  }
  