.investor_box_wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px; 
}
.ml-10p {
    margin-left: 10%
}
.invest_box {
    z-index: 1;
    min-height: 502px;
    width: 100%;
    background-color: #000000;
    border: 11px solid rgb(255, 255, 255);
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    .top_sec {
        width: 100%;
        text-align: start;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
        div {
            width: 26px;
            height: 26px;
            min-width: 26px;
            min-height: 26px;
            background: #df0035;
            border: 3px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 10px rgba(218, 0, 47, 0.095);
            border-radius: 50%;
            animation: pulse 1500ms infinite;
        }
        h4 {
            padding-left: 20px;
            color: rgba(255, 255, 255, 0.9);
            font-size: 36px;
            font-weight: 500;
            line-height: 36px;
        }
    }
    .mid_sec {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-row: 1fr;
        gap: 20px;
        p {
            color: rgba(255, 255, 255, 0.6);
            font-size: 18px;
            font-weight: normal;
            line-height: 24px;
        }
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            button {
                width: 253px;
                height: 63px;
                background: #ffffff;
                border: 0.6px solid #000000;
                color: #000000;
                font-size: 17.45px;
                font-weight: 500;
                border-radius: 16px;
                img {
                    margin-right: 5px;
                }
            }
            .powered_by {
                color: rgba(255, 255, 255, 0.3);
                font-size: 11.7px;
                font-weight: 500;
                line-height: 18px;
                margin-top: 10px;
            }
            .daodao {
                color: rgba(255, 255, 255, 0.45);
                font-size: 11.7px;
                font-weight: 500;
            }
        }
    }
    .bottom_sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        .bottom_sec_header {
            color: rgba(255, 255, 255, 0.9);
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            line-height: 65px;
        }
        .bottom_sec_grid {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 10px;
            section {
                width: 100%;
                .line {
                    width: 100%;
                    height: 6px;
                    background: #5a5a5a;
                    border-radius: 6.5px;
                }
                .section_text_container {
                    width: 100%;
                    .section_header {
                        color: #5a5a5a;
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 40px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        img {
                            margin-right: 5px;
                        }
                        .ib_to_come {
                            margin-right: 5px;
                            width: 26px;
                            height: 26px;
                            background-color: transparent;
                            border: 2px solid #5A5A5A;
                            border-radius: 50%;
                        }
                    }
                    .sec_bottom {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: baseline;
                        div {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: start;
                            label {
                                color: #868686;
                                font-weight: 500;
                                font-size: 16px;  
                                line-height: 25px;
                            }
                            p {
                                color: #5A5A5A;
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1150px) {
        .mid_sec {
            grid-template-columns: 1fr;
            grid-row: 1fr 1fr;
            div {
                padding: 20px 0 10px 0;
                button {
                    width: 100%;
                }
            }
        }
        .bottom_sec {
            .bottom_sec_grid {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .bottom-sec {
            .bottom_sec_grid {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                gap: 5px;
                padding-bottom: 15px;
                section {
                    display: flex;
                    flex-direction: row;
                    .line {
                        width: 4px;
                        height: 100%;
                    }
                    .section_text_container {
                        padding-left: 15px;
                        padding-bottom: 15px;
                    }
                }
            }
        }        
    }
}
.invest_box::after {
    content: "";
    border-radius: 50px;
    box-shadow: inset 0 0 12px 12px #FFFFFF, inset 0 0 3px 2px #FFFFFF;
    background: linear-gradient(90deg, red, orange , yellow, rgb(48, 178, 48), cyan, blue, violet);
    filter: blur(20px);
    -webkit-filter: blur(20px);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
// Overrides
.line_selected {
    background: #5469d4 !important;
}
.text_selected {
    color: #FFFFFF !important;
}



// Button styling

.btn_invest_now {
    
    --_highlight-size: 0;
    --_highlight: hsl(210 10% 71% / 25%);

    --_padding-inline: 1.75ch;
    --_padding-block: .75ch;
  
    --_shadow-2: 0 3px 5px -2px hsl(220 3% 15%/calc(1% + 3%)),0 7px 14px -5px hsl(220 3% 15%/calc(1% + 5%));
    --_shadow-depth: 0 1px hsl(210 14% 89%);
  
    --_transition-motion-reduce: ;
    --_transition-motion-ok:
      box-shadow 145ms ease,
      outline-offset 145ms ease
    ;
    outline-offset: .5ch;
    outline-color:  #ffffff;;
    --_transition: var(--_transition-motion-reduce);
  
}
  

.btn_invest_now:where(:not(:active):hover) {
    box-shadow: 
    0 3px 5px -2px hsl(220 3% 15%/calc(1% + 3%)),0 7px 14px -5px hsl(220 3% 15%/calc(1% + 5%)),
    0 1px hsl(210 14% 89%),
  0 0 0 0.5rem var(--_highlight)
    ;
}

.btn_invest_now {
    cursor: pointer;
    transition: var(--_transition);
}

@media (prefers-reduced-motion: no-preference) {
    .btn_invest_now {
      --_transition: var(--_transition-motion-ok);
    }
}

// Pulse for red circle
@keyframes pulse {
    0% {
        box-shadow: #ff69b4 0 0 0 0;;
    }
    75% {
        box-shadow: #ff69b400 0 0 0 16px;
    }
}