.referrals_wrapper {
    border-radius: 35px;
    box-shadow: 1.16px 1.16px 11.6px rgba(0, 0, 0, 0.16);
    width: 793px;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 992px) {
        margin-top: 0;
        border-radius: 0;
    }
}
.referrals_top {
    width: 100%;
    height: 425px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 20px 20px;
    background-image: url("../public/img/referrals_banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2 {
        color: #ffffff;
        font-size: 48px;
        font-weight: 500;
        text-align: center;
    }
    h4 {
        margin-top: 15px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        text-align: center;
        max-width: 550px;
    }
    div {
        cursor: pointer;
        margin-top: 25px;
        width: 100%;
        max-width: 525px;
        height: 70px;
        background: #ffffff;
        border: 3px solid #1D1D1D;
        // outline: 3px solid #FFFFFF;
        border-radius: 18px;
        // box-shadow: 0px 8px 60px rgba(255, 255, 255, 0.33);
        box-shadow: 0 0 0 3px #FFFFFF;
        padding: 0 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            border: none;
            outline: none;
            background-color: #ffffff;
            color: #1D1D1D;
            width: 25%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            img {
                width: 17px;
            }
        }
        &:hover {
            box-shadow: 0 0 0 3px #1D1D1D;
            button {
                background: #e8e8e8;
                border-radius: 10px;
            }
        }
        label {
            color: #5c5c5c;
            font-size: 16px;
            font-weight: medium;
            text-align: start;
            width: 75%;
            cursor: pointer;
        }
    }
    .ref_top_label {
        width: 100%;
        max-width: 525px;
        margin-top: 10px;
        color: #e6e6e6;
        font-size: 14px;
        font-weight: 500;
        text-align: start;
        padding-left: 15px;
    }
    @media screen and (max-width: 992px) {
        border-radius: 0;   
    }
    @media screen and (max-width: 500px) {
        h2 {
            font-size: 40px;
        }
        h4 {
            font-size: 16px;
        }
        div {
            height: 55px;
            label {
                font-size: 13px;
            }
            button {
                font-size: 13px;
            }
        }
        .ref_top_label {
            font-size: 12px;
        }
    }
}
.referrals_explanation {
    width: 100%;
    padding: 0 5%;
    height: auto;
    h2 {
        color: #171717;
        font-size: 32px;
        font-weight: 500;
        line-height: 112.5px;
    }
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr;
        gap: 5%;
        border-bottom: 1px solid #DADADA;
        padding-bottom: 50px;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
        section {
            flex: 2 1 auto;
            label {
                color: #999999;
                font-size: 32px;
                font-weight: 500;
            }
            h4 {
                color: #171717;
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                margin-top: 10px;
            }
            p {
                margin-top: 10px;
                color: #6f6f6f;
                font-size: 14px;
                font-weight: medium;
            }
        }
    }
}
.referrals_no_username {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600px;
    color: var(--text);
    margin-top: 50px;
}
.referrals_faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 5%;
    padding-bottom: 75px;
    h2 {
        color: #171717;
        font-size: 32px;
        font-weight: 500;
        margin-top: 20px;
    }
    h4 {
        color: #171717;
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
    }
    p {
        color: #6f6f6f;
        font-size: 14px;
        font-weight: medium;
        margin-top: 10px;
    }
}
.spacer {
    height: 150px;
}