// These used to be the theme
$background: #FEFEFE;
$border: #E5E5E5;
$text: #333333;
$grey: #555555;
$secondary: #f8f8f8;
$secalt: #eee;
$textalt: #777;
$norm: #222;
$formbg: #FFFFFF;
$link: #000;
$hover: #000;
$mborder: #E5E5E5;
$unread: #e7effe;

$cblue: #0058F7;
$topbar: #2e2e2e;
$pink: #ff3496;
$cred: #fe3537;
$cgreen: #19B028;
$button: #000;
$loading: #777777;